body{
    background-color: aquamarine;
}
p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 600px;
}
span{
    display: flex;
    justify-content: center;
}